<div class="container pt-5">
    <div class="row p-3">

        <div class="col-3">
            <input name="date" [(ngModel)]="today" type="date" id="date" ngModel (ngModelChange)="dateChanged($event)">
        </div>

    </div>
    <div class="row">
        <div class="alert alert-danger text-center" [hidden]="!errors">
            {{ errors }}
        </div>
        <div class="col-lg-4" *ngFor="let x of data">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h2 class="card-title">Nom de l'utilisateur: {{x.task_log_creator}}</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary" [ngClass]="{'widget-49-date-success ': x.task_log_hours>=3,'widget-49-date-warning' :  x.task_log_hours<=3,'widget-49-date-danger' : x.task_log_hours<=1}">
                                <span class="widget-49-date-day">{{x.task_log_hours}}</span>
                                <span class="widget-49-date-month">Hrs</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Nom de tache : {{x.task_log_task}}</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>description : {{x.task_log_description}}</span></li>
                        </ol>
                        <!--<div class="widget-49-meeting-action">
                        <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
                    </div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
