.editLog {
    cursor: pointer;
    transition: all 0.5s;
}

.editLog:hover {
    color: #000000;
    font-size: 1rem;
}

.meeting-points {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
}

.meeting-points .meeting-item {
    display: list-item;
    color: #727686;
}

#date {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #000000de;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    border: non;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 16%), 0 1px 1px rgb(0 0 0 / 23%);
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 16%), 0 1px 1px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0 2px 3px rgb(0 0 0 / 16%), 0 1px 1px rgb(0 0 0 / 23%);
}

.boxshadox {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.widget-primary {
    background-color: #edf1fc;
}

.widget-day-primary {
    color: #4e73e5;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
}

.widget-month-primary {
    color: #4e73e5;
    line-height: 1;
    font-size: 0.8rem;
}

.widget-49-date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.widget-49-date-day {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1;
}

.widget-49-date-month {
    line-height: 1;
    font-size: 0.8rem;
}

.widget-success {
    background-color: #e8faf8;
}

.widget-success .widget-49-date-day,
.widget-success .widget-49-date-month {
    color: #17d1bd;
}

.widget-warning {
    background-color: floralwhite;
}

.widget-warning .widget-49-date-day,
.widget-warning .widget-49-date-month {
    color: #FFC868;
}

.widget-danger {
    background-color: #feeeef;
}

.widget-danger .widget-49-date-day,
.widget-danger .widget-49-date-month {
    color: #F95062;
}

.bg-darkLight{
    background-color: rgba(0, 0, 0, 0.24);
}