<div class="container" *ngIf="usersInfo">
    <div class="row pt-5 justify-content-center">
        <div class="col-lg-6 col-md-12">
            <form [formGroup]="form" class="form-task" (ngSubmit)="onSubmit()">
                <!-- <h2 class="card-header p-3 text-center">Ajouter votre tâche</h2>-->
                <div class="bg-white rounded shadow-sm p-4 text-center" (click)="imgClick(imageInput)" >
                    <div class="profilepic m-auto">
                        <img src="./assets/img/profile-min.jpg" [alt]="usersInfo?.user_username + 'picture'" class="img-fluid rounded-circle img-thumbnail shadow-sm profilepic__image" style="cursor: pointer">
                        <div class="profilepic__content">
                            <span class="profilepic__icon"><i class="fas fa-camera"></i></span>
                            <span class="profilepic__text">Change image</span>
                        </div>
                        <input value="Change image" class="hidden" #imageInput type="file" accept="image/*" (change)="imgUpload(imageInput)"/>
                    </div>
                    <h2 class="mb-0 mt-2">{{usersInfo?.user_username}}</h2>
                </div>
                <!-- <div class="form-group my-1">
                    <ng-autocomplete class="pb-2" [data]="usersList" [searchKeyword]="keyword_users" placeholder="Choisir un utilisateur" (selected)='selectEventUsername($event)' (inputChanged)='onChangeSearchUsername($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                        formControlName="users_controlle" [ngClass]="{ 'is-invalid': submitted && f['users_controlle'].errors }" (inputCleared)="searchClearedUsername()">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.user_username"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>-->
                <div class="form-group my-1">
                    <ng-autocomplete class="pb-2" [data]="projectsList" [searchKeyword]="keyword_projects" placeholder="Projet" (inputCleared)="searchClearedProject()" (selected)='selectEventProject($event)' (inputChanged)='onChangeSearchProject($event)' [itemTemplate]="projectTemplate"
                        formControlName="projects_controlle" [notFoundTemplate]="projectNotFoundTemplate" [ngClass]="{ 'autoComplete-invalid': submitted && f['projects_controlle'].errors }">
                    </ng-autocomplete>
                    <ng-template #projectTemplate let-project>
                        <a [innerHTML]="project.project_name"></a>
                    </ng-template>
                    <ng-template #projectNotFoundTemplate let-projectNotFound>
                        <div [innerHTML]="projectNotFound"></div>/
                    </ng-template>
                </div>

                <div class="form-group my-1">
                    <ng-autocomplete [disabled]="!isValid_usernames" class="pb-2" [data]="tasksList" [searchKeyword]="keyword_tasks" placeholder="Tâche" (selected)='selectEventTasks($event)' (inputChanged)='onChangeSearchTasks($event)' (inputFocused)='onFocusedTasks($event)'
                        [itemTemplate]="taskTemplate" [notFoundTemplate]="taskNotFoundTemplate" formControlName="tasks_controlle" [ngClass]="{ 'autoComplete-invalid': submitted && f['tasks_controlle'].errors }">
                    </ng-autocomplete>

                    <ng-template #taskTemplate let-task>
                        <a [innerHTML]="task.task_name" [ngClass]="{'mobiletic text-white ': task.is_mine==true}"></a>
                    </ng-template>

                    <ng-template #taskNotFoundTemplate let-taskNotFound>
                        <div [innerHTML]="taskNotFound"></div>
                    </ng-template>
                </div>






                <div *ngIf="isValid">

                    <div class="from-group p-1">
                        <input name="date" [(ngModel)]="today" (change)="changeDate(today)" class="form-control" type="date" id="date_task" formControlName="date_controlle" [ngClass]="{ 'is-invalid': submitted && f['date_controlle'].errors }" required>
                    </div>

                    <div class="from-group p-1 ">
                        <input class="form-control" type="number" step="0.01" min="0" max="10" name="hours_task " id="hours_task " formControlName="hours_controlle" placeholder="Durée  Exp : 1 - 1.5 ou 1.25" [ngClass]="{ 'is-invalid': submitted && f['hours_controlle'].errors }"
                            required>
                    </div>
                    <div class="form-group p-1 ">
                        <input class="form-control my-1" type="text" name="hours_task " id="title_task " formControlName="title_controlle" placeholder="Titre">
                    </div>
                    <div class="form-group p-1 ">
                        <textarea id="description_task" name="description" rows="4 " cols="50 " class="form-control " formControlName="description_controlle" placeholder="Description" [ngClass]="{ 'is-invalid': submitted && f['description_controlle'].errors }" required></textarea>
                    </div>

                    <div class="form-group p-2 mb-5 mt-2">
                        <button type="button" (click)="onSubmit()" class="btn btn-primary form-control ">Enregister</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>