.ng-autocomplete {
    width: 100% !important;
    display: table !important;
    margin: 0 auto !important;
}

.mobiletic {
    background-color: #6A1FFF !important;
}


/*
textarea {
    resize: none;
}*/
