<div class="container pt-4">
    <div class="row m-2 text-center">
        <div class="col-lg-3 col-md-5">
            <a routerLink="add-user" class="btn btn-success px-5"><i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter</a>
        </div>
        <div class="col-9 alert alert-danger " [hidden]="!errors">{{errors}}</div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-light text-center align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>Nom complet</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Département</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of data">

                        <td>{{x.contact_first_name}} {{x.contact_last_name}}</td>
                        <td>{{x.contact_email}}</td>
                        <td>{{x.contact_phone}}</td>
                        <td>{{x.dept_name}}</td>
                        <td>
                            <a routerLink="user/id/edit/" class="btn btn-primary text-white"><i class="fas fa-user-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>